<perch:repeater label="Cards" type="cards">
    <perch:before><div id="home-body-content" class="restrict"></perch:before>
        <div class="home-card <perch:every count="2">right<perch:else>left</perch:every> show">
            <div class="home-card-text-wrapper">
                <div class="home-card-text">
                    <h4><perch:content type="text" id="title" label="title"></h4>
                    
                    <perch:content type="textarea" label="Content" id="content">
                    
                    <a href="<perch:content id="link" label="Link" type="text">"><button>Find out more</button></a>
                </div>
            </div>
            <img src="<perch:content id="cardImage" type="image" width="300" height="300" label="Image">" alt="People listening to talk" id="what-img"
                className="outer-img" />
        </div>
    <perch:after></div></perch:after>
</perch:repeater>
