<perch:block type="background" label="Background">
    <div class="c-bg-svg">
        <img class="c-bg-svg__svg" src="<perch:content id=" background_image" label="Background SVG" type="image"
            height="2000" width="1400">" alt="background" />
    </div>
</perch:block>

<perch:block type="text" label="Text">
    <div class="c-text-block restrict narrow l-content-section">
        <perch:content type="textarea" label="Text" id="text" editor="redactor" html>
    </div>
</perch:block>

<perch:block type="text-with-image" label="Text With Image">
    <div class="l-content-section l-centered">
        <div class="c-text-image c-text-image--<perch:content type="select" id="image_type" label="Image Type" options="landscape, portrait, square" >-image l-restrict narrow">
            <div class="c-text-image__text-container l-flow">
                <perch:content class="c-text-image__text" id="text" label="Text" type="textarea" editor="redactor" html>
            </div>
            <img 
                src="<perch:content 
                        id="image" 
                        label="Image" 
                        type="image" 
                        height="600"
                        crop>" 
                class="c-text-image__image">
        </div>
    </div>
</perch:block>