<header class="c-header c-header--<perch:content id="header_size" label="Size" type="select" options="small, large">"
    style="background-image: url(<perch:content type="image" id="bg_img" width="1400" height="600"
        label="Background Image">)"
        >
        <div class="c-header__mask">
            <div class="l-restrict c-header__content-wrapper">
                <div class="c-header__logo-nav-wrapper">
                    <a href="/" class="c-header__logo">Whitby Evangelical Church</a>
                    <div class="c-header__nav">
                        <a href="/" class="c-header__link">Home</a>
                        <a href="/about" class="c-header__link">About</a>
                        <a href="/audio-library/" class="c-header__link">Audio Library</a>
                        <a href="/news" class="c-header__link">News</a>
                        <a href="/whats-on" class="c-header__link">What's On</a>
                        <a href="/contact" class="c-header__link">Contact</a>
                    </div>
                </div>
                <div class="c-header__title-wrapper">
                    <div class="c-header__headers">
                        <h1 class="c-header__heading">Welcome</h1>
                        <h4 class="c-header__sub-heading">To Whitby Evanglical Church</h4>
                        <div class="c-header__buttons">
                            <a class="c-header__button c-header__button--primary" href="/audio-library/">
                                Listen Online
                            </a>
                            <a class="c-header__button c-header__button--secondary" href="/about">
                                About Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-hamburger">
            <div class="c-hamburger__wrapper">
                <a href="/" class="c-hamburger__link">Home</a>
                <a href="/about" class="c-hamburger__link">About</a>
                <a href="/audio-library/" class="c-hamburger__link">Audio Library</a>
                <a href="/news" class="c-hamburger__link">News</a>
                <a href="/whats-on" class="c-hamburger__link">What's On</a>
                <a href="/contact" class="c-hamburger__link">Contact</a>
            </div>
        </div>
</header>