<header class="c-header c-header--<perch:content id="header_size" label="Size" type="select" options="small, large">"
    style="background-image: url(<perch:content type="image" id="bg_img" width="1400" height="600"
        label="Background Image">)"
        >
        <div class="c-header__mask">
            <div class="l-restrict c-header__content-wrapper">
                <div class="c-header__logo-nav-wrapper">
                    <a href="/" class="c-header__logo">Whitby Evangelical Church</a>
                    <div class="c-header__nav">
                        <a href="/" class="c-header__link">Home</a>
                        <a href="/about" class="c-header__link">About</a>
                        <a href="/audio-library/" class="c-header__link">Audio Library</a>
                        <a href="/news" class="c-header__link">News</a>
                        <a href="/whats-on" class="c-header__link">What's On</a>
                        <a href="/contact" class="c-header__link">Contact</a>
                        <div class="c-header__hamburger-button">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="c-header__title-wrapper">
                    <div class="c-header__headers">
                        <h1 class="c-header__heading"><perch:content id="heading" label="Header" type="text"></h1>
                        <h4 class="c-header__sub-heading"><perch:content id="sub_heading" label="Sub-Header" type="text"></h4>
                        <div class="c-header__buttons">
                            <a class="c-header__button c-header__button--primary" href="/audio-library/">
                                Listen Online
                            </a>
                            <a class="c-header__button c-header__button--secondary" href="/about">
                                About Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const hamburgerButton = document.getElementsByClassName("c-header__hamburger-button")[0];
            const hamburgerMenuRect = document.getElementsByClassName("c-hamburger")[0].getBoundingClientRect();
            const content = document.getElementById("content");
            hamburgerButton.addEventListener("click", () => {
                console.log(document.body.style.transform)
                if (document.body.style.transform) {
                    document.body.style.transform = "";
                    document.body.style.overflowX = "hidden";
                    document.body.style.overflowY = "scroll";
                    content.style.overflowX = "hidden";
                    content.style.overflowY = "auto";
                } else {
                    const hamburgerWidth = hamburgerMenuRect.right - hamburgerMenuRect.left;
                    document.body.style.transform = `translateX(-${hamburgerWidth}px)`;
                    document.body.style.overflowX = "auto";
                    document.body.style.overflowY = "hidden";
                    content.style.overflowX = "auto";
                    content.style.overflowY = "auto";
                }
            })
        </script>
</header>