
<perch:blocks>
    <perch:block type="cards" label="Cards">
        <perch:repeater label="Cards" type="cards">
            <perch:before><div class="l-content-section l-centered"><div class="restrict c-cards"></perch:before>
                <a href="<perch:content id="link" label="Link" type="text" class="c-card__link">" class="home-card c-card" style="background-image: url(<perch:content id="cardImage" type="image" width="500" height="500" label="Image">);">
                    <img src="<perch:content id="cardImage">" alt="<perch:content id="cardImageAlt" type="text" label="Image Alt">" class="c-card__image">
                    <div class="c-card__title-wrapper">
                        <h3 class="c-card__title"><perch:content type="text" id="title" label="title"></perch:content><h3>
                    </div>
                    <div class="c-card__overlay"></div>
                </a>
            <perch:after></div></div></perch:after>
        </perch:repeater>
    </perch:block>

    <perch:block type="verse" label="Feature Verse">
        <div class="l-centered l-content-section l-content-section--shadow c-feature-verse">
            <p class="c-feature-verse__verse">
                "<perch:content type="text" label="Verse" id="verse">"
            </p>
            <p class="c-feature-verse__reference">
                <perch:content type="text" label="Reference" id="reference" class="c-feature-verse__reference">
            </p>
        </div>
    </perch:block>

    <perch:template path="content/common_blocks.html">

</perch:blocks>
