@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

$colors: (
    primary: #187c8c,
    secondary: #2d3233,
);

$semibold: 620;
$regular: 400;
$small-height: 150px;

$header-dark-bg: #706e6f;
$header-light-bg: white;
$header-dark-text: white;
$header-light-text: black;

$mobile-break: 768px;
$border-radius: 22px;

$size-300: 0.75rem;
$size-400: 1rem;
$size-500: 1.33rem;
$size-600: 1.67rem;
$size-700: 2.1rem;
$size-800: 3.15rem;
$size-900: 4.2rem;

$mobile-width: 520px;

body {
    line-height: 1.5;
    font-family: Georgia, serif;
    /* padding: 2rem 0; */
}

/* a:not([class]) {
    color: currentColor;
} */

:focus {
    outline: 2px dashed white;
    outline-offset: 0.25rem;
}

main:focus {
    outline: none;
}

[href]:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto,
        segoe ui, arial, sans-serif;
    line-height: 1.3;
}

h1,
h2 {
    font-weight: 900;
}

h1 {
    font-size: $size-800;
}

h2 {
    font-size: $size-700;
    font-weight: $semibold;
}

h3 {
    font-size: $size-600;
    font-weight: $regular;
}

img {
    max-width: min(55rem, 100%);
}

figcaption {
    font-size: $size-300;
    font-style: italic;
    margin-top: 1rem;
}

blockquote {
    padding-left: $size-600;
    border-left: 5px solid;
    font-style: italic;
}

::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.99);
}

p,
li {
    max-width: $mobile-width;
}

h1 {
    max-width: 15ch;
}

h2,
h3 {
    max-width: 25ch;
}

.content {
    flex-grow: 2;
    padding: 1rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.post {
    $flow-space: $size-700;
    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.post time {
    $flow-space: $size-400;
    display: block;
}

.post :is(h2, h3) {
    $flow-space: $size-900;
}

.post :is(h2, h3)+* {
    $flow-space: $size-400;
}

.post figure,
.post figure+* {
    $flow-space: $size-900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.restrict {
    max-width: 1280px;
    display: block;
    padding: 0 1rem;

    &.narrow {
        max-width: 60em;
    }
}

.l-restrict {
    max-width: 1280px;
    display: block;
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;

    &.narrow {
        max-width: 60em;
    }
}

.l-flow>*+* {
    margin-top: 1em;
}

.l-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.l-content-section {
    padding-top: 6rem;
    width: 100%;

    // if laschild add bottom padding
    &:last-child {
        padding-bottom: 6rem;
    }

    // if followed by l-content-section--bg-light-grey add bottom padding
    +.l-content-section--bg-light-grey {
        margin-top: 6rem;
        padding-bottom: 6rem;
    }


    &.l-content-section--shadow {
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.068);
    }

    &.l-content-section--bg-light-grey {
        background-color: rgb(248, 248, 248);
    }

    &.l-content-section--no-top-margin {
        margin-top: 0;
    }

    &.l-content-section--centered {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    // change padding on mobile
    @media (max-width: $mobile-break) {
        padding-top: 3rem;

        &:last-child {
            padding-bottom: 3rem;
        }
    }
}

.c-button {
    text-decoration: none;
    padding: 0.5rem;
    width: 180px;
    border-radius: 50px;
    font-weight: 620;
    display: block;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: $regular;
}

.c-button--primary {
    color: map-get($colors, primary);
    background: white;
    border: 2px solid white;
}

.c-button--secondary {
    color: white;
    border: 2px solid map-get($colors, primary);
    background: map-get($colors, primary);

    &:hover {
        color: map-get($colors, primary);
        background: white;
    }
}

.c-text-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    text-align: left;

    .c-text-image__text-container {
        display: flex;
        flex-direction: column;
    }

    .c-text-image__image {
        // max-width: 517.5px;
        border-radius: $border-radius;
        max-height: 340px;
        justify-self: right;
    }

    @media screen and (max-width: 950px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        .c-text-image__text-container {
            justify-self: center;
        }

        .c-text-image__image {
            justify-self: center;
            max-height: none;
            max-width: $mobile-width;
            width: 100%;
        }
    }
}

.c-post {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:first-child {
        margin-top: 20px;
    }

    .c-post__meta {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .c-post__author-image {
        border-radius: 50px;
        height: 50px;
        width: auto;
    }

    .c-post__details {
        font-style: italic;
        color: rgba(0, 0, 0, 0.747);
    }

    .c-post__post-list {
        list-style-type: none;
    }

    .c-post__section-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .c-post__paging {
        margin-top: 30px;
    }
}

.c-back {
    .c-back__button {
        background: transparent;
        color: rgb(1, 1, 161);
        padding: 0;
        width: auto;
        margin-bottom: 10px;
        text-decoration: underline;
        border: none;
    }
}

.c-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    flex-grow: 2;
}

.c-link-buttons {
    display: flex;
    gap: 20px;

    .c-link-buttons__button {
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        width: 180px;
        border-radius: 50px;
        border: 2px solid white;
        font-weight: $semibold;

        &:hover {
            background-color: white;
            color: map-get($colors, primary);
        }

        &:first-child {
            background-color: white;
            color: map-get($colors, primary);
        }
    }
}

.c-leaders {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: stretch;

    h3 {
        margin-bottom: 2rem;
    }

    .c-leaders__title {
        align-self: flex-start;
    }

    .c-leaders__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
        gap: 3rem;
    }

    .c-leaders__leader {
        display: grid;
        grid-template-columns: 124px auto;
        gap: 31px;
    }

    .c-leaders__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .c-leaders__name {
        font-weight: $semibold;
        font-size: 1.2rem;
        margin-bottom: 0.375rem;
    }

    .c-leaders__image {
        height: 124px;
        border-radius: 15px;
    }

    p:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 950px) {
        max-width: $mobile-width;

        .c-leaders__leader {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }
}

.c-history {
    p {
        max-width: none;
    }

    display: flex;
    flex-direction: column;
    gap: 40px;

    .c-history__content {
        display: grid;
        grid-template-columns: auto auto;
        gap: 40px;
    }

    .c-history__timeline {
        border-left: 4px solid map-get($colors, primary);
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .c-history__timeline-entry {
        display: grid;
        grid-template-columns: 15px auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "circle date"
            ". label";
        align-items: center;
    }

    .c-history__circle {
        height: 15px;
        width: 15px;
        position: relative;
        left: -19px;
        border-radius: 50px;
        background-color: white;
        border: 3px solid map-get($colors, primary);
        grid-area: circle;
    }

    .c-history__timeline-entry-date {
        grid-area: date;
        font-weight: $regular;
        font-size: 1.3rem;
    }

    .c-history__timeline-entry-label {
        grid-area: label;
        max-width: 25ch;
    }

    .c-history__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .c-history__verse {
        text-align: center;
        max-width: 80ch;
        align-self: center;
        padding: 20px;
        font-weight: $semibold;
    }

    @media screen and (max-width: 950px) {
        max-width: $mobile-width;

        .c-history__content {
            grid-template-columns: auto;
        }
    }
}

.c-beliefs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: auto;

    .c-beliefs__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
        gap: 40px;

        @media screen and (max-width: 600px) {
            grid-template-columns: auto;
        }
    }

    .c-beliefs__belief {
        border-left: 4px solid map-get($colors, primary);
        padding-left: 20px;
    }

    .c-beliefs__belief-title {
        font-weight: $semibold;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 950px) {
        max-width: $mobile-width;
    }
}

body {
    font-family: "Segoe UI", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateX(0);
    transition: transform 300ms ease;
    width: 100%;
}

.c-header {
    position: relative;
    background-size: cover;
    background-position: center;

    .c-header__content-wrapper {
        z-index: 10;
        padding-top: 1rem;
        margin: 0 auto;
        width: 100%;
    }

    .c-header__logo {
        color: white;
        text-decoration: none;
        font-weight: $semibold;
        font-size: 18px;
    }

    .c-header__logo-nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }

    .c-header__title-wrapper {
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
        gap: 10px;
    }

    .c-header__nav {
        display: flex;
        align-items: center;
    }

    .c-header__link {
        color: white;
        text-decoration: none;
        padding: 0.2rem 1rem;
        font-weight: $semibold;
        font-size: $size-400;
        text-underline-offset: 2px;

        &:hover {
            color: map-get($colors, primary);
            background: white;
        }
    }

    .c-header__mask {
        background: rgba(25, 148, 167, 0.8);
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .c-header__headers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -20px;
    }

    .c-header__heading {
        font-size: 6rem;
        font-weight: $semibold;
        color: white;
    }

    .c-header__sub-heading {
        font-size: 2.3rem;
        font-weight: $regular;
        margin-top: -5px;
        margin-bottom: 30px;
        color: white;
    }

    .c-header__buttons {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .c-header__button {
        text-decoration: none;
        padding: 0.5rem;
        width: 180px;
        border-radius: 50px;
        font-weight: 620;
        display: block;
        text-align: center;
        transition: all 100ms ease;
    }

    .c-header__button--primary {
        color: map-get($colors, primary);
        background: rgba(255, 255, 255, 0.97);
        border: 2px solid rgba(255, 255, 255, 0.97);

        &:hover {
            background: rgba(255, 255, 255, 1);
        }
    }

    .c-header__button--secondary {
        color: white;
        border: 2px solid white;

        &:hover {
            color: map-get($colors, primary);
            background: white;
        }
    }

    .c-header__hamburger-button {
        display: none;
        flex-direction: column;
        gap: 4px;
        width: 18px;

        div {
            width: 100%;
            height: 3px;
            background-color: white;
        }

        transform: scale(0.9);
    }

    @media screen and (max-width: 900px) {
        .c-header__link {
            padding: 0.2rem 0.6rem;
        }
    }

    @media screen and (max-width: 768px) {
        .c-header__title-wrapper {
            height: 300px;
        }

        .c-header__heading {
            font-size: 4rem;
        }

        .c-header__sub-heading {
            font-size: 1.5rem;
        }

        .c-header__link {
            display: none;
        }

        .c-header__hamburger-button {
            display: flex;
        }

        .c-header__button {
            width: 140px;
        }
    }

    &.c-header--small {
        .c-header__title-wrapper {
            height: auto;
            min-height: 120px;
        }

        .c-header__headers {
            top: 0px;
        }

        .c-header__sub-heading {
            font-size: 1.4rem;
        }

        .c-header__buttons {
            display: none;
        }

        .c-header__heading {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .c-header__mask {
            background-color: map-get($colors, primary);
        }

        @media screen and (max-width: 768px) {
            .c-header__title-wrapper {
                min-height: 100px;
            }
        }
    }
}

.c-hamburger {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 300px;
    display: none;
    flex-direction: column;
    border: 1px solid rgb(218, 218, 218);
    height: 100vh;

    .c-hamburger__wrapper {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .c-hamburger__link {
        color: black;
        text-decoration: none;
        font-size: $size-500;
    }

    .c-hamburger__cross {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
    }
}

.c-cross {
    height: 18px;
    width: auto;
    align-self: flex-end;

    .c-cross__rect {
        fill: black;
    }
}

.c-feature-verse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 2rem 1rem;
    background-color: white;

    &:first-child {
        margin-top: 0;
    }

    .c-feature-verse__verse {
        font-size: 1.5rem;
        max-width: 40ch;
        text-align: center;
    }

    .c-feature-verse__reference {
        font-style: italic;
    }

    // media queries
    @media screen and (max-width: 768px) {
        .c-feature-verse__verse {
            font-size: 1.2rem;
        }
    }
}

.c-bg-svg {
    position: absolute;
    z-index: -100;
    width: 100%;
    bottom: 0;

    .c-bg-svg__svg {
        width: 100%;
        margin-bottom: -10px;
        max-width: none;
    }

    @media screen and (min-width: 1400px) {
        transform-origin: bottom center;
        transform: scaleY(0.6);
    }

    @media screen and (min-width: 2300px) {
        transform-origin: bottom center;
        transform: scaleY(0.3);
    }

    @media screen and (max-width: 1000px) {}

    @media screen and (max-width: 550px) {}
}

.c-cards {
    display: grid;
    gap: 40px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media screen and (max-width: 950px) {
        max-width: $mobile-width;
    }
}

[href] {
    text-decoration: none;
}

.c-card {
    height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    .c-card__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 0;
        z-index: 0;
        transition: 100ms;
        pointer-events: none;
    }

    .c-card__title-wrapper {
        position: relative;
        left: -1rem;
        top: 180px;
        padding: 0.3rem 1rem 0.3rem 2rem;
        background-color: map-get($colors, primary);
        z-index: 10;
        transform: translateX(0);
        transition: transform 100ms ease;
    }

    .c-card__title {
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
    }

    .c-card__image {
        display: none;
    }

    &:is(:hover, :focus, :focus-within) {
        .c-card__overlay {
            opacity: 0.1;
        }

        .c-card__title-wrapper {
            transform: translateX(0.2rem);
        }
    }

    &:is(:focus, :focus-within) {
        outline: 2px dashed map-get($colors, primary);
    }

    @media screen and (max-width: 768px) {
        background-image: none !important;
        height: auto;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.103);

        .c-card__title-wrapper {
            top: 0px;
            left: 0px;
        }

        .c-card__image {
            display: block;
        }

        .c-card__content {
            position: relative;
            clip-path: none;
        }

        &:hover {
            .c-card__content {
                clip-path: inset(-5% -5% -5% -5%);
            }

            .c-card__title-wrapper {
                transform: translateX(0);
            }
        }

    }
}

.c-calendar {
    min-height: 600px;
    width: 100%;

    // .fc-view-harness {
    //     overflow: auto;
    // }

    // .fc-view {
    //     min-width: 1000px;
    // }

    .fc-dayGridMonth-button,
    .fc-dayGridWeek-button,
    .fc-listMonth-button {
        display: none;
    }

    &.fc {
        .fc-toolbar {
            justify-content: center;
            gap: 20px;
        }
    }
}

.c-verse-picture {
    .c-verse-picture__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: auto 550px;
    }

    .c-verse-picture__verse {
        align-self: center;
        margin: 0 auto;
        width: 70%;
    }

    .c-verse-picture__verse-text {
        font-size: 22px;
    }

    .c-verse-picture__verse-ref {
        margin-top: 7px;
    }

    .c-verse-picture__button {
        text-decoration: none;
        border: 1px solid map-get($colors, primary);
        width: 200px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        transition: 150ms;
        text-decoration: none;
        color: map-get($colors, primary);
        font-size: 16px;

        &:hover {
            background: map-get($colors, primary);
            color: white;
        }
    }

    .c-verse-picture__image {
        max-width: 100%;
        border-radius: 22px;
    }

    @media screen and (max-width: 1078px) {
        position: relative;
        max-width: $mobile-width;

        .c-verse-picture__wrapper {
            position: relative;
            display: flex;
            height: 300px;
        }

        .c-verse-picture__image-wrapper {
            left: 0px;
            top: 0px;
            height: 100%;
            z-index: -3;
        }

        .c-verse-picture__image {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -2;
            left: 0px;
            top: 0px;
        }

        .c-verse-picture__image-mask {
            width: 100%;
            height: 100%;
            background: black;
            z-index: -1;
            opacity: 0.5;
            position: absolute;
            left: 0px;
            top: 0px;
            border-radius: 22px;
        }

        .c-verse-picture__verse-text {
            color: white;
        }

        .c-verse-picture__verse-ref {
            color: white;
        }

        .c-verse-picture__button {
            color: white;
            border: 1px solid white;
            font-weight: $semibold;

            &:hover {
                background: white;
                color: map-get($colors, primary);
            }
        }
    }
}

.c-meetings {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    margin-top: 60px;

    .c-meetings__title {
        font-size: 26px;
        font-weight: $semibold;
        border-left: 3px solid map-get($colors, primary);
        padding: 0 0 0 10px;
    }

    .c-meetings__meeting-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 20px;

        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    .c-meetings__meeting-title {
        font-size: 17px;
        font-weight: $semibold;
        margin-bottom: 4px;
    }

    .c-meetings__meeting-time {
        margin-bottom: 6px;
        font-size: 15px;
        opacity: 0.9;
    }
}

.c-contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    max-width: 608px;

    .c-contact-form__section-label {
        font-size: 1.4rem;
        color: black;
        margin-top: 0;
        margin-bottom: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(202, 202, 202);
    }

    .c-contact-form__section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .c-contact-form__form-input-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .c-contact-form__form-input-label {
        /* position: relative;
        background-color: white;
        padding: 0 5px;
        top: 18px;
        left: 15px;
        width: auto;
        font-size: 1rem; */
        font-weight: normal;
        font-size: 1.05rem;
        margin-bottom: 0.3rem;
    }

    .c-contact-form__form-input {
        max-width: none;
        border: 1px solid black;
        background-color: rgb(250, 250, 250);
        padding: 0.5rem 0.8rem;
        margin: 0;
        font-size: 1.05rem;
        width: 100%;

        &::placeholder {
            color: #999999;
        }

        &.c-contact-form__form-input--textarea {
            resize: vertical;
        }
    }

    .c-contact-form__form-input .c-contact-form__form-button {
        background-color: var(--primary);
        min-width: 180px;
        padding: 1rem;
        border: none;
        font-size: 1.05rem;
    }
}

#content {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    background: rgb(44, 42, 42);
    position: relative;
    width: 100%;
    padding: 20px 50px;

    @media screen and (max-width: 672px) {
        padding: 20px 30px;
    }

    &.mobile {
        padding: 20px 30px 75px 30px;
    }

    box-sizing: border-box;
    z-index: 5;
    transition: 400ms ease-out;

    .inner-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;

        @media only screen and (max-width: 624px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-row-gap: 10px;

            #footer-map {
                grid-area: 2/1/3/3;
            }
        }

        color: white;
        justify-content: center;

        ul {
            li {
                list-style-type: none;
                opacity: 0.8;
                font-size: 14px;
                margin-top: 3px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            p {
                opacity: 0.8;
                font-size: 14px;
            }
        }

        #footer-map {
            iframe {
                width: 100%;
                border: none;
            }
        }
    }

    #bottom-bar {
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        a {
            color: white;
            font-size: 14px;
            margin-left: 20px;
        }

        .login-btn {
            margin-left: 20px;
            cursor: pointer;
        }
    }
}