<perch:before><ul class="hamburger hide"></perch:before>
    <li 
        class="<perch:if exists="current_page">selected</perch:if><perch:if exists="ancestor_page">ancestor</perch:if> hamburgerItem"
        data-children="<perch:if exists="subitems">true<perch:else>false</perch:if>"
    >
        <perch:if exists="subitems">
        <button class="hamburgerLabel hamburgerLink">
            <i class="fas fa-angle-down linkIcon"></i>
            <perch:pages id="pageNavText" />
        </button>
        <perch:else>
            <a href="<perch:pages id="pagePath" />" class="hamburgerLink">
                <perch:pages id="pageNavText" />
            </a>
        </perch:if>
        <perch:pages id="subitems" encode="false"/>
    </li>
    <perch:after></ul></perch:after>