<perch:before><div class="c-header__nav"></perch:before>
<a 
    class="<perch:if exists="current_page">selected</perch:if><perch:if exists="ancestor_page">ancestor</perch:if> c-header__link"
    data-children="<perch:if exists="subitems">true<perch:else>false</perch:if>"
    href="<perch:pages id="pagePath" />"
>
    <perch:pages id="pageNavText" />
    <perch:pages id="subitems" encode="false"/>
</a>
<perch:after>
    <div class="c-header__hamburger-button">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
</perch:after>